create database test
go
USE test
GO
/****** Object:  Table [dbo].[dv]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dv](
	[MaDv] [int] identity(1,1) NOT NULL,
	[TenDv] [nchar](20) NOT NULL,
	[LoaiDv] [nchar](20) NOT NULL,
	[Gia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TieuThu] [int] NOT NULL,
	[GhiChu] [nchar](10) NULL,
	[Anh] [nvarchar](max) NULL,
 CONSTRAINT [PK_dv] PRIMARY KEY CLUSTERED 
(
	[MaDv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[ID] [int] identity(1,1) NOT NULL,
	[Phong] [nchar](10) NULL,
	[Checkin] [nchar](40) NULL,
	[Checkout] [nchar](40) NULL,
	[TrangThai] [nchar](20) NOT NULL,
	[ThanhToan] [int] NOT NULL,
 CONSTRAINT [PK_hoadon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadonct]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadonct](
	[MaBill] [int] NOT NULL,
	[MaDv] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_hoadonct] PRIMARY KEY CLUSTERED 
(
	[MaBill] ASC,
	[MaDv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[MaBill] [int] identity(1,1) NOT NULL,
	[HoTen] [nchar](30) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SDT] [nchar](10) NULL,
	[Phong] [nchar](10) NOT NULL,
	[GhiChu] [nchar](10) NULL,
	[TrangThai] [nchar](20) NOT NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[MaBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-------------------------------------------------------------
create table luong(
	ChucVu nchar(20) NOT NULL primary key,
	Luong int,
)
/****** Object:  Table [dbo].[nhanvien]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[ID] [int] NOT NULL,
	[HoTen] [nchar](30) NOT NULL,
	[NgaySinh] [nchar](10) NOT NULL,
	[GioiTinh] [nchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SoDT] [nchar](10) NOT NULL,
	[DiaChi] [nchar](50) NOT NULL,
	[ChucVu] [nchar](20) NOT NULL REFERENCES luong (ChucVu),
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong](
	[MaPhong] [nchar](10) NOT NULL,
	[TrangThai] [nchar](20) NOT NULL,
	[LoaiPhong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuskhachhang]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuskhachhang](
	[TrangThaiKH] [nchar](20) NOT NULL,
 CONSTRAINT [PK_statuskhachhang] PRIMARY KEY CLUSTERED 
(
	[TrangThaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusphong]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusphong](
	[TrangThaiHT] [nchar](20) NOT NULL,
 CONSTRAINT [PK_statusphong] PRIMARY KEY CLUSTERED 
(
	[TrangThaiHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typedv]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typedv](
	[Loaidv] [nchar](20) NOT NULL,
 CONSTRAINT [PK_typedv] PRIMARY KEY CLUSTERED 
(
	[Loaidv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typephong]    Script Date: 6/20/2022 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typephong](
	[TypePhong] [nchar](10) NOT NULL,
	[TenPhong] [nchar](20) NULL,
	[ChiPhi] [int] NULL,
 CONSTRAINT [PK_typephong] PRIMARY KEY CLUSTERED 
(
	[TypePhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[hoadon] ( [Phong], [Checkin], [Checkout], [TrangThai], [ThanhToan]) VALUES ( N'101       ', N'12/3                                    ', N'12/4                                    ', N'Chưa thanh toán     ', 185000)
INSERT [dbo].[hoadon] ( [Phong], [Checkin], [Checkout], [TrangThai], [ThanhToan]) VALUES ( N'103       ', N'13/2                                    ', N'24/2                                    ', N'Đã thanh toán       ', 180000)
INSERT [dbo].[hoadon] ( [Phong], [Checkin], [Checkout], [TrangThai], [ThanhToan]) VALUES ( N'108       ', N'3/3                                     ', N'4/3                                     ', N'Chưa thanh toán     ', 150000)
GO
INSERT [dbo].[khachhang] ( [HoTen], [CMND], [SDT], [Phong], [GhiChu], [TrangThai]) VALUES ( N'Mai Hẻ Đen', N'29383267  ', N'097786855 ', N'101       ', N'không     ', N'Đang thuê           ')
INSERT [dbo].[khachhang] ( [HoTen], [CMND], [SDT], [Phong], [GhiChu], [TrangThai]) VALUES ( N'Nguyễn A  ', N'19397363  ', N'038475743 ', N'103       ', N'không     ', N'Trả phòng           ')
INSERT [dbo].[khachhang] ( [HoTen], [CMND], [SDT], [Phong], [GhiChu], [TrangThai]) VALUES ( N'Trần Bì   ', N'19288882  ', N'023984744 ', N'108       ', N'không     ', N'Đang thuê           ')
GO
INSERT INTO luong values (N'Nhân viên', 8000000)
INSERT INTO luong values (N'Thu ngân', 8500000)
INSERT INTO luong values (N'Bảo vệ', 5000000)
Go
INSERT [dbo].[nhanvien] ([ID], [HoTen], [NgaySinh], [GioiTinh], [CMND], [SoDT], [DiaChi],[ChucVu]) VALUES (1, N'Nguyễn Văn Tuấn  ', N'11/2/1999 ', N'Nam       ', N'1234455   ', N'221123    ', N'HCM       ',N'Nhân viên')
INSERT [dbo].[nhanvien] ([ID], [HoTen], [NgaySinh], [GioiTinh], [CMND], [SoDT], [DiaChi],[ChucVu]) VALUES (2, N'Nguyễn Đức Đô  ', N'11/2/1998 ', N'Nam       ', N'12121212  ', N'3322221   ', N'HN        ',N'Thu ngân')
INSERT [dbo].[nhanvien] ([ID], [HoTen], [NgaySinh], [GioiTinh], [CMND], [SoDT], [DiaChi],[ChucVu]) VALUES (3, N'Lê Thị Riêng  ', N'12/3/2001 ', N'Nữ        ', N'111111    ', N'2211211   ', N'HCM       ',N'Bảo vệ')
GO
INSERT [dbo].[phong] ([MaPhong], [TrangThai], [LoaiPhong]) VALUES (N'101       ', N'Đang thuê           ', N'N11       ')
INSERT [dbo].[phong] ([MaPhong], [TrangThai], [LoaiPhong]) VALUES (N'102       ', N'Đã đặt              ', N'N11       ')
INSERT [dbo].[phong] ([MaPhong], [TrangThai], [LoaiPhong]) VALUES (N'103       ', N'Đang thuê           ', N'N12       ')
GO
INSERT [dbo].[statuskhachhang] ([TrangThaiKH]) VALUES (N'Đang thuê           ')
INSERT [dbo].[statuskhachhang] ([TrangThaiKH]) VALUES (N'Đặt phòng           ')
INSERT [dbo].[statuskhachhang] ([TrangThaiKH]) VALUES (N'Tất cả              ')
GO
INSERT [dbo].[statusphong] ([TrangThaiHT]) VALUES (N'Còn trống           ')
INSERT [dbo].[statusphong] ([TrangThaiHT]) VALUES (N'Đã đặt              ')
INSERT [dbo].[statusphong] ([TrangThaiHT]) VALUES (N'Đang thuê           ')
GO
INSERT [dbo].[typedv] ([Loaidv]) VALUES (N'Nuoc Uong           ')
INSERT [dbo].[typedv] ([Loaidv]) VALUES (N'Thuc An             ')
INSERT [dbo].[typedv] ([Loaidv]) VALUES (N'Vat Pham            ')
GO
INSERT [dbo].[typephong] ([TypePhong], [TenPhong], [ChiPhi]) VALUES (N'N11       ', N'1 giường đơn        ', 150000)
INSERT [dbo].[typephong] ([TypePhong], [TenPhong], [ChiPhi]) VALUES (N'N12       ', N'1 giường đôi        ', 180000)
INSERT [dbo].[typephong] ([TypePhong], [TenPhong], [ChiPhi]) VALUES (N'N21       ', N'2 giường đơn        ', 200000)
GO
ALTER TABLE [dbo].[dv]  WITH CHECK ADD  CONSTRAINT [FK_dv_typedv] FOREIGN KEY([LoaiDv])
REFERENCES [dbo].[typedv] ([Loaidv])
GO
ALTER TABLE [dbo].[dv] CHECK CONSTRAINT [FK_dv_typedv]
GO
ALTER TABLE [dbo].[hoadonct]  WITH CHECK ADD  CONSTRAINT [FK_hoadonct_dv] FOREIGN KEY([MaDv])
REFERENCES [dbo].[dv] ([MaDv])
GO
ALTER TABLE [dbo].[hoadonct] CHECK CONSTRAINT [FK_hoadonct_dv]
GO
ALTER TABLE [dbo].[hoadonct]  WITH CHECK ADD  CONSTRAINT [FK_hoadonct_hoadon] FOREIGN KEY([MaBill])
REFERENCES [dbo].[hoadon] ([ID])
GO
ALTER TABLE [dbo].[hoadonct] CHECK CONSTRAINT [FK_hoadonct_hoadon]
GO
ALTER TABLE [dbo].[khachhang]  WITH CHECK ADD  CONSTRAINT [FK_khachhang_hoadon] FOREIGN KEY([MaBill])
REFERENCES [dbo].[hoadon] ([ID])
GO
ALTER TABLE [dbo].[khachhang] CHECK CONSTRAINT [FK_khachhang_hoadon]
GO
ALTER TABLE [dbo].[phong]  WITH CHECK ADD  CONSTRAINT [FK_phong_statusphong] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[statusphong] ([TrangThaiHT])
GO
ALTER TABLE [dbo].[phong] CHECK CONSTRAINT [FK_phong_statusphong]
GO
ALTER TABLE [dbo].[phong]  WITH CHECK ADD  CONSTRAINT [FK_phong_typephong] FOREIGN KEY([LoaiPhong])
REFERENCES [dbo].[typephong] ([TypePhong])
GO
ALTER TABLE [dbo].[phong] CHECK CONSTRAINT [FK_phong_typephong]
GO


select * from phong
go

select * from typedv
go 

insert into dv values (N'sting',N'Nuoc Uong',11000,0,0,N'co','')
go

select * from khachhang where MaBill ='7'

